.hp{
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px; 
  }
  
  .r
  {
    margin-top: 50px;
  }



.o
{
  background-color: white;
  padding: 5px;
  border:solid #48D1CC 3px;
  margin-left: 15%;
  margin-right: 15%;

}

  