<div class="hp"  [style.backgroundImage]="getBackgroundImageUrl()">
    <app-header class="h"></app-header> 
        <div class="r">
            </div>
            <div class="o">
        <div *ngIf="imageObject" class="pics">
            <ng-image-slider [images]="imageObject" [imageSize]="{width: 950, height: 450}" [infinite]="true" [autoSlide]="3" #nav></ng-image-slider>
            </div>
    
        </div>
    
</div >   