<div class="pozadina"  [style.backgroundImage]="getBackgroundImageUrl()">
<app-header1></app-header1>    
    <div class="mealInfo">
        
        <img  [src]="pic?.PictureURL" alt="">
    
        <div class="info"> 
            <div class="osnovne">
                <div class="naziv">
                    <label>  {{food?.Name}} </label>

                </div> 
                <div class="naziv1">
                    <label>  {{food?.Type}}  | </label>
                    <label>  {{food?.Description}} </label>
                </div>
            </div>
           <div class="linija">

           </div>
           <div class="ocena">
               <div class="glasovi">
                 <i class="fa fa-star fa-2x" style="color:yellow;"aria-hidden="true"></i>
                <br>
                <label  >Ocena : {{food?.AverageRating}} </label>                
               </div>
               <div class="glasaj">
                <label  *ngIf="!isLogged()" class="n"> <a (click)="Login()"> <label class="log"> Prijavite se da biste ocenili -> </label> </a> </label>
                <label  *ngIf="isLogged()" class="n"> Ocenite </label>
                <br>
                
                 <mat-slider *ngIf="isLogged()" min="0" max="5" step="1" thumbLabel
                 [displayWith]="formatLabel"
                 tickInterval="1" color="primary" width="30%" [(ngModel)]="vote" (ngModelChange)="sendVote()"> </mat-slider>
               </div>
           </div>
        </div>
    </div>
    <div *ngIf="!isLogged()" class="log" > 
         <a (click)="Login()" > Prijavite se da biste videli slicnu hranu i korisnike koji su je probali -> </a>
        </div> 

    <div *ngIf="isLogged()" class="reccommended"> Slicna hrana po glavnom sastojku </div>
    <div *ngIf="isLogged()" class="flex row">
        <div class="f">
        <div *ngFor="let food of similarlyF" class="food">
               <app-foodcard [food]="food"></app-foodcard>        
        </div>
      </div>
    </div>  
    <div *ngIf="isLogged()" class="reccommended"> Korisnici koji su probali ovo jelo </div>
    <div  *ngIf="isLogged()" class="flex row">
        <div class="f">
        <div *ngFor="let user of tasters" class="user">
            <app-user-card [user]="user"></app-user-card>       
        </div>
      </div>
    </div> 
    
</div>



