<div class="r" [style.backgroundImage]="getBackgroundImageUrl()">
  
  <div class="dd"><button  class="bt" mat-raised-button routerLink="/home">Pocetna strana</button></div>
    <mat-card class="add">
    <form #form="ngForm" >
 
        <mat-card-title> Novo jelo </mat-card-title>
        
        <mat-form-field class="example-full-width">
            <input 
            matInput placeholder="Naziv" 
            type="text"
            id="name"
            class="form-control"
            value=""
            [(ngModel)]="name"
            name="name"
            required

            >
           
          </mat-form-field>
    
          <mat-form-field class="example-full-width">
              <input
              matInput placeholder="Tip" 
              type="text"
              id="type"
              class="form-control"
              value=""
              [(ngModel)]="type"
              name="type"
              required

              >
              
            </mat-form-field>    
            <mat-form-field class="example-full-width">
              <input
              matInput placeholder="Glavni sastojak " 
              type="text"
              id="description"
              class="form-control"
              value=""
              [(ngModel)]="description"
              name="description"
              required

              >
              
            </mat-form-field>    
           
            <mat-form-field>
              <mat-label >Odaberite Restoran </mat-label>
              <br>
        
        <mat-select [(value)]="selectedRestaurant"  (notifyCreateRestaurant)='loadRestaurants()'  required >
                <mat-option *ngFor="let restaurant of restaurants" [(value)]="restaurant"
                type="text"
                id="restaurant"
                class="form-control"
                > {{restaurant?.Name}} | {{restaurant?.City}} </mat-option>
              </mat-select>
            </mat-form-field>

            
           <div class="sl">
            <mat-form-field class="example-full-width">
              <input
              matInput placeholder="Url adresa slike jela" 
              type="text"
              id="PictureURL"
              class="form-control"
              value=""
              [(ngModel)]="PictureURL"
              name="PictureURL"
              required
              >
            
              
            </mat-form-field>    

            
            </div>
            <div class="l">
              <a (click)="addRestaurant()">

              <label > Dodajte restoran ukoliko ne postoji -> </label>
            </a>
            </div>
             
            <div class="dugme">
            <button [disabled]="!form.valid" (click)="addFood()" mat-flat-button color="primary" type="submit"
            
            >
              Dodaj
              <i class="fa fa-plus" aria-hidden="true"></i>
            </button>
           
          </div>
          
        </form>
    </mat-card>

</div>