<mat-card class="example-card" >
  <mat-card-content>
  
  <div class="co">
   

      <div class="picture" >
      <img mat-card-image [src]="pic?.PictureURL" alt="">
    </div>

</div>
<div class="naslov">
  <mat-card-title> {{food?.Name}} </mat-card-title>
</div>
  <div class="linija">
  </div>
   
    
  <div class="ostaleinf">
    
      
      
    <button (click)="deleteFood()" mat-flat-button color="primary">Obriši 
      <i class="fa fa-trash" aria-hidden="true"></i>

    </button>
    </div>
    </mat-card-content>
  </mat-card>