.example-card {
  width: 200px;
  height: 250px;
  //margin-bottom: 1px;
  
}

.picture
{
//display: flex;
//height: 120px;
//width: 120px;
padding: 5%;
}
.tp{
font-size: 20px;
font-family: Microsoft JhengHei Light;
color:#4d6d9a;
justify-content: center;
place-self: center;
}
.linija
{
border-bottom: solid #4d6d9a 2px;
margin-bottom: 5%;
//margin-top: 5%;
}
.naslov
{
display: flex;
justify-content: center;
}
.ostaleinf
{
display: flex;
justify-content: center;
flex-direction: column;
margin-top: 2%;
}
  
.mat-card-title
{
  margin-top: 5%;
  margin-bottom: 1%;
  font-size: 25px;
  font-family: Microsoft JhengHei Light;
  color:#4d6d9a;
  justify-content: center;
}

.mat-card-header{
  margin-top: 10%;
  margin-bottom: 10%;
  text-align: center;
  font-family: Microsoft JhengHei Light;
  font-weight: bold;

}

.mat-card-header{
 margin:2px;
}

img{
width: 210px;
height: 140px;;
}
button{
color: lightblue;
}