<div class="hp"  [style.backgroundImage]="getBackgroundImageUrl()">
    <app-header1></app-header1>
    <form #form="ngForm" >

    <div class="pretrage">

      <mat-form-field class="example-form-field">
        <input matInput type="text" required placeholder="Unesite grad " [(ngModel)]="City" name="City">
        <button mat-button *ngIf="City" matSuffix mat-icon-button aria-label="City" (click)="City=''">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
      <button [disabled]="!form.valid" (click)="find()" class="bt"  mat-button type="submit"  >
        Pretraži
        <i class="fa fa-search" aria-hidden="true"></i>
    
      </button>
    </div>

    </form>

  <div class="p">
      <div class="f">
      <div *ngFor="let restaurant of restaurants" class="restaurant">
             <app-restaurantcard (notifyDeleteFood)='loadRestaurant()' [restaurant]="restaurant"></app-restaurantcard>        
      </div>
    </div>  
  </div>
  </div>
  