
    <mat-card class="example-card" >
        <mat-card-content>
  
       
         <div class="naslov">
          <mat-card-title> {{restaurant?.Name}} </mat-card-title>
        </div>
          
      <div class="ostaleinf">
          <div class="tp">
              {{restaurant?.City}} 
              
        </div>
        <div class="linija">
        </div>
        <div class="l">
        <a (click)="viewMenu()">

            <label > MENU    <i class="fa fa-cutlery" aria-hidden="true"> </i>  </label>
          </a>
        </div>
          </div>
        </mat-card-content>
        </mat-card>
