<div class="bg" [style.backgroundImage]="getBackgroundImageUrl()">
  <app-header1></app-header1>
  <form #form="ngForm" >
  <div class="pretrage">
    <mat-form-field class="example-form-field">
      <input matInput type="text" placeholder="Unesite korisničko ime " [(ngModel)]="Username" name="Username" required>
      <button mat-button *ngIf="Username" matSuffix mat-icon-button aria-label="Clear" (click)="Username=''">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <button  [disabled]="!form.valid" (click)="find()" class="bt"  mat-button type="submit"  >
      Pretraži
      <i class="fa fa-search" aria-hidden="true"></i>
  
    </button>
  </div>
  </form>
    <div class="flex row"  >
      <div class="u">
      <div *ngFor="let user of users" class="user">
             <app-user-card [user]="user"></app-user-card>        
      </div>
    </div>
  </div>  
  
      </div>