.f
{
    display: flex;
    flex-wrap: wrap;
    margin-top: 1%;
    margin-left:15% ;
    margin-right:15%;
}
.bg{
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;


}

.l
{
    display: flex;
    margin-left: 43%;
    margin-right: 30%;
    font-weight: bold;
    font-size: 18px;
    
    font-family: Microsoft JhengHei Light;
}