<div class="bg" [style.backgroundImage]="getBackgroundImageUrl()">

    <label class="l"> {{restaurant?.Name}} - {{restaurant?.City}}  </label>
<app-header1></app-header1>
<div class="flex row"  >
    <div class="f">
    <div *ngFor="let food of menu" class="food">
           <app-foodcard [food]="food"></app-foodcard>        
    </div>
  </div>
</div>  
</div>