.dugme{
    margin-top:5%
  }
  .dd
  {
    width:150px;
  }
  .bt{
      margin-left: 12px;
      margin-right: 12px;
    width:150px;  
    border:solid #48D1CC 3px;
  }
  
  
  form {
      
      min-width: 150px;
      max-width:400px;
      width: 100%;
      
  
    }
    
    .dugme
    {
      display: flex;
     justify-content: center;
    }
    .example-full-width {
      width: 100%;
    }
    .add {
      display:flex;
      flex-grow: 1;
      width:30%;
      margin-top:10%;
      margin-bottom: 10px;
      //margin-top: 50px;
      justify-content: center;
      align-self:center;
     
      margin-right: 35%;
      margin-left:25%;
      border:solid #48D1CC 3px;
  
      //border:solid #4d6d9a 3px;
    }
    mat-card-title
    {
      color: #4d6d9a;
      font-size: 30px;
      font-family: Microsoft JhengHei Light;
      text-align: center;
    }
  
    mat-flat-button
    {
      align-self: center;
      margin-left:25%;
      margin-right:25%;
      width: auto;
      display: flex;
      
    }
    .r
    {
     display: flex;
     flex-grow: 1;
     min-height: 700px;
      
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
  
    .sl
    {
     display: flex;
      flex-direction: row;
      justify-content: center;
    }
    .b
    {
      margin: 10px;
    }