.bg{
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  //height:800px;


}
.all
{
  display: flex;
    margin-left:35%;
    margin-right: 30%;
    margin-top:3%;
    margin-bottom:1%;
    font-weight: bold;
    font-size: 18px;
    
    font-family: Microsoft JhengHei Light;
}
.reccommended
{
  display: flex;
    margin-left:35%;
    margin-right: 30%;
    margin-top:3%;
    margin-bottom:1%;
    font-weight: bold;
    font-size: 18px;
    
    font-family: Microsoft JhengHei Light;
}
.l
{
    display: flex;
    margin-left: 45%;
    margin-right: 30%;
    font-weight: bold;
    font-size: 18px;
    
    font-family: Microsoft JhengHei Light;
}
.bt{
  margin-left: 12px;
  margin-right: 12px;
width:150px;  
border:solid white 3px;
}
.pretrage
{
  display: flex;
  flex-direction: row;
  margin-top: 3%;
  margin-left:15% ;
  margin-right:15%;
  justify-content: space-around;
}

.f
{
  display: flex;
  flex-wrap: wrap;
  margin-top: 1%;
  margin-left:15% ;
  margin-right:15%;
}
.g
{
  display: flex;
  flex-wrap: wrap;
  //margin-top: %;
  margin-left:15% ;
  margin-right:15%;
}
button
{
  margin-left: 10px;
}
input{
  margin-left: 10px;

}