<div class="divLogin" [style.backgroundImage]="getBackgroundImageUrl()">
  <div class="dd"><button  class="bt" mat-raised-button routerLink="/home">Pocetna strana</button></div>

<mat-card class="prijava" >
<form #form="ngForm" >
    <mat-card-title>Prijavite se</mat-card-title>
    <div mat-card-avatar class="example-header-image"></div>
    
    <mat-form-field class="example-full-width">
        <input 
        matInput placeholder="Korisnicko ime" 
        type="text"
        id="Username"
        class="form-control"
        value=""
        [(ngModel)]="Username"
        name="Username"
        required
        >
        <i class="fa fa-user" aria-hidden="true" style="color:#4d6d9a"></i>

      </mat-form-field>

      <mat-form-field class="example-full-width">
          <input
          matInput placeholder="lozinka" 
          type="text"
          [type]="hide ? 'Password' : 'text'"
          id="Password"
          class="form-control"
          value=""
          [(ngModel)]="Password"
          name="Password"
          required>
         
          <i class="fa fa-key" aria-hidden="true" style="color:#4d6d9a"></i>

          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
           [attr.aria-pressed]="hide">
           <i class="fa fa-eye-slash" aria-hidden="true"  style="color:#4d6d9a"></i>
            
            </button>
        </mat-form-field>      
        <div class="l">
          <a (click)="createProfile()">

          <label > Nemate nalog? Kreirajte ga -> </label>
        </a>
        </div>

        <button [disabled]="!form.valid" (click)="login()" mat-flat-button color="primary" type="submit"  >
          Prijavite se
           
        </button>
  </form>
</mat-card>
</div>
