form {
    min-width: 150px;
    max-width:400px;
    width: 100%;
  }
  .dd
{
  width:150px;
}
.bt{
    margin-left: 12px;
    margin-right: 12px;
  width:150px;  
  border:solid #48D1CC 3px;
}
  
  .example-full-width {
    width: 100%;
  }
  .l
  {
    color: #4d6d9a;
    font-size: 15px;
    text-decoration: underline; 
    font-family: Microsoft JhengHei Light;
    text-align: center;
    margin-bottom: 5px;
  }
  .prijava {
    display:flex;
    flex-grow: 1;
    width:30%;
    margin-top:10%;
    margin-bottom: 10px;
    //margin-top: 50px;
    justify-content: center;
    align-self:center;
    margin-left:25%;

    border:solid #48D1CC 3px;
  margin-right: 35%;
    
  }
  mat-card-title
  {
    color: #4d6d9a;
    font-size: 30px;
    font-family: Microsoft JhengHei Light;
    text-align: center;
  }
  .example-header-image {
    background-image: url('https://t3.ftcdn.net/jpg/01/17/96/68/240_F_117966832_qprcRmPUtpmdsNNRigU3y0oSeT0yUSlB.jpg');
    background-size: cover;
    align-self: center;
    margin-left: 40%;
    margin-right: 40%;
    
  }


  .divLogin
  {
    display: flex;
   flex-grow: 1;
   min-height: 650px;
    background-color: aquamarine;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
 
 