<div class="bg" [style.backgroundImage]="getBackgroundImageUrl()">
  <app-header1 class="h"></app-header1> 
 <div class="pretrage" >
  <form #form="ngForm" >

  <div class="pretragaI">
    
  <mat-form-field class="example-form-field">
              
              <input matInput type="text" placeholder="Unesite naziv jela" [(ngModel)]="Name" required  name="Name" >
    <button mat-button *ngIf="Name" matSuffix mat-icon-button aria-label="Clear" (click)="Name=''">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <button [disabled]="!form.valid"  (click)="find()" class="bt" mat-button   >
    Pronadji jelo  
    <i class="fa fa-search" aria-hidden="true"></i>

  </button >
</div>
</form>
<form #form1="ngForm" >

<div class="pretragaIT">
  <mat-form-field class="example-form-field">
    <input matInput type="text" placeholder="Unesite naziv jela" [(ngModel)]="Name1" required name="Name1" >
    <button mat-button *ngIf="Name1" matSuffix mat-icon-button aria-label="Clear" (click)="Name1=''">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <mat-form-field class="example-form-field">
    <input matInput type="text" placeholder="Unesite glavni sastojak" [(ngModel)]="Description" required name="Description"  >
    <button mat-button *ngIf="Description" matSuffix mat-icon-button aria-label="Clear" (click)="Description=''">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <button [disabled]="!form.valid"  (click)="find1()"  class="bt"  mat-button   >
    Pronadji jelo  
    <i class="fa fa-search" aria-hidden="true"></i>

  </button>
</div>
</form>
</div>
  <div class="flex row">
    <div class="f">
    <div *ngFor="let food of allFood" class="food">
           <app-foodcard [food]="food"></app-foodcard>        
    </div>
  </div>
</div>  

    </div>